.main-logo p{
  font-size: 35px;
  font-family: bold;
}
.navbar-search{
  border: 1px solid black;
  border-radius: 20px;
  contain: content  ;
}

.navbar-icons{
  text-align: right;
  padding: 10px;
}

.navbar-icons nav a{
  margin-left: 20px;
}

header{
  padding: 16px;
}

.select-categories button{
  height: 37.45px;
  width: 59.2px;
  padding: 8px;
}

.btn-warning{
  border-radius: 0;
}



.navbar-icons nav a{
  margin-left: 30px;
  font-size: large;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: attr(data-title);
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.nav-link:hover::after {
  opacity: 1;
}


.header-mid{
  background-color: #fed700;
  padding: 10px;
}

.header-mid ul a{
font-family: bold;}


