.sidebar-wrap{
    padding: 0 15px;
    width: 250px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.sidebar-wrap .sidebar aside span{
padding: 15px 28px;
font-size: 14px;
color: #333E48;
border-bottom: 2px solid #ddd;

}

.main-product-div{
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar aside ul{
    padding: 7px 30px;

}


.sidebar aside ul li a svg{
    padding-right: 6px;
   color: #333E48;
}

.sidebar aside ul li a{
    color: #333E48;
    padding: 5.6px 0px;

}


.sidebar aside ul li{
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.sidebar aside ul li:hover {
    border-color: #007bff; 
}
.product-inner{
    padding: 0px 15px;
}

.product-inner h2{
padding-bottom: 10px;
font-size: 22px;
color: #333E48;
font-family:Arial, Helvetica, sans-serif;
border-bottom: 2px solid #ddd;
}

.main-product-div{
    justify-content: space-between;
}




